<h1>CHARTS FOR DAYS</h1>

<%= render partial: "shared/search_form" %>	

<div id="container" style="width:100%; height:600px;"></div>

<script>
$(function () { 
    $('#container').highcharts({
        chart: {
            type: '<%= @chart.main_chart %>'
        },
        legend: {
        	enabled: false
        },
        title: {
            text: 'Team Salary'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Salary'
            }
         },
         tooltip: {
            formatter: function () {
                return '<b>' + this.point.name + '</b>: $' + Highcharts.numberFormat(this.y, 0, '.', ',') + '<br/>'
            }
        },     
         series: [{
         	<%== series_data %>
        }],
        
        drilldown: {
        	animation: {
		        duration: 500
		    },
            series: [<%== drilldown_data %>
            ]
        }
    });
});
</script>
